/* styling for the header elements */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .instructions only displays when canvas z index changes to 1 */
header h1 {
    margin-bottom: .5rem;
}

/* Styling for the main section */

main {
    display: flex;
    justify-content: center;
    position: relative
}

/* z index will swit between 1 and 0 */
.info_screen {
    position: absolute;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    border: solid;
    height: 45rem;
    width: 80rem;
    
}
.title {
    z-index: 2;
    background-image: url(https://i.imgur.com/4sd8FpC.jpg);
    background-size: cover;
}

.info {
    display: flex;
    flex-direction: column;
    z-index: 0;
    color: white;
    text-align: center;
    font-size: 2rem;
}

.movement_info {
    display: flex;
}

.info p {
    padding: 0 2rem;
}

.win {
    z-index: 0;
    background-image: url(https://i.imgur.com/mf2RIOj.jpg);
    background-size: cover;  
}

.dead {
    z-index: 0;
    background-image: url(https://i.imgur.com/hpBJ2dm.jpg);
    background-size: cover;    
}

.battle_screen {
    position: absolute;
    z-index: 0;
    background-color: black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: solid;
    height: 45rem;
    width: 80rem;  
    color: white;
    background-image: url(https://i.imgur.com/0LYXRge.jpg);
    background-size: cover;  
}

.battleText {
    border: solid white;
    text-align: center;
    background-color: rgba(0,0,0, .5);
    font-size: 1.5rem;
}
.battleButtons {
    margin-top: 1rem;
    justify-items: center;
    align-self: center;
 
}


.battleButtons button {
    width: 7rem;
}
/* z index will swit between 1 and 0 */
.canvas {
    Position: absolute;
    z-index: 1;
    border: solid;
    height: 45rem;
    width: 80rem;
    background-color: black;
}


.play,
.playDead,
.playWin {
    position:absolute;
    height: 2rem;
    width: 10rem;
    font-size: 1rem;
}

.play {
    margin-top: 15rem;
    margin-left: 7rem;
}

.playDead {
    margin-top: 18rem;
    margin-right: 10rem;
}

.playWin {
    margin-top: 3rem;
}